@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  box-sizing: border-box;
}

body {
  background: #0d61a7;
  background-image: url('img/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 500px;
  background: #186cb1;
  margin: auto;
  padding: 25px;
  border-radius: 10px;

}

.progress-bar {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 5px;
  margin-bottom: 25px;
}

.progress {
  height: 100%;
  width: 0%;
  background: #25D366;
  border-radius: 5px;
  transition: width .4s ease;
}

h1 {
    color: #fff;
    font-size: 3rem;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}

p {
  font-size: 14px;
  color: #c8edff;
  margin-bottom: 15px;
}

input {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 15px;
  border-bottom: 3px solid rgb(255, 255, 255);
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #3785c42b;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

input:focus {
    outline: none;
}
input [type="text"] {
    border-bottom: solid 2px #fff;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  font-size: 0.8rem;
  font-weight: 700;
  background-color: #01314338;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.nav-buttons button{
    background-color: #db8135;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.nav-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.nav-buttons button {
  flex: 1;
  padding: 10px;
  cursor: pointer;
}

.rodape {
    margin-top: 30px;
}
.rodape img{
    max-width: 70vw;
    width: 300px;
}